body {
    background-color: rgb(255, 255, 165);
}

.titulo{
    text-align: center;
}

.caja-imagenes{
    text-align: center;
}

.sub-titulo{
    text-align: center;
}

.texto{
    text-align: center;
}


.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.botones{
    text-align: center;
    
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(128, 128, 128);
    background-color: #5ee43d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}